:root{
    --mainColor:#222;
    --secondaryColor:#121212;

    --borderColor:#121213;

    --mainText:#fff;
    --secondaryText:#eeee;
    --themeDotBorder:#FFF;
    --previewBg: rgb(25, 39, 40, 0.8);
    --previewshadow: #222;
    

    --buttonColor:#121213;
}